doctype html
html(lang='pl')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, viewport-fit=cover')
    meta(name='description' content='Odliczanie czasu do matury. Dowiedz się ile miesięcy, dni, godzin, minut zostało do egzaminu maturalnego, oraz kiedy się odbędzie.')
    meta(name='keywords' content='dni do matury, matura, egzamin maturalny, odliczanie, miesiące, dni, godziny, minuty, timer, countdown')
    meta(name='language' content='PL')
    meta(name='author' content='Maciej Błędkowski')
    meta(property='og:type' content='website')
    meta(property='og:image' content='/img/thumbnail.jpg')
    meta(property='og:site_name' content='dni do matury')
    link(rel='preload' href='/css/main.css' as='style')
    link(rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'")
    link(rel='stylesheet', href='/css/320andless.css', media='(max-width: 320px)')
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="icon", type="image/png", sizes="512x512", href="/favicon-512x512.png")
    link(rel="icon", type="image/png", sizes="128x128", href="/favicon-128x128.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#000")
    meta(name="msapplication-TileColor", content="#ffef32")
    meta(name="theme-color", content="#fff")
    script
      | let unit = #{unit}; let selYear = #{year};
    style body{font:14px "Montserrat",sans-serif;font-weight:700;}body,header,main,#timer,footer{display:flex;flex-flow:column nowrap;align-items:center;} #socialIcons>a>img{height:25px;} #timer{font-size:35px;}
  body
    block content
