noscript
  br
  style
    | noscript{
    |   display: flex;
    |   flex-flow: column;
    |   align-items: center;
    | }
  h2 ⚠ Twoja przeglądarka nie wspiera lub ma wyłączone wsparcie dla JavaScript! ⚠
  h3 Z tego powodu zegar nie może pokazywać wartości w czasie rzeczywistym, a przyciski paska nawigacji nie będą działały.