noscript
  br
  style noscript{display:flex;flex-flow:column;align-items:center;}
  h2 ⚠ Masz wyłączone wsparcie JavaScript! ⚠
  h3 Zegar nie będzie mógł się aktualizować.
  link(rel='stylesheet' href='/css/main.css')
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap&subset=latin-ext")