body {
  @apply text-center;
  font-family: Montserrat, sans-serif;
  #mainTimer {
    font-family: Roboto, sans-serif;
  }
  main {
    > h1,
    > p {
      @apply w-96 mx-auto;
      max-width: calc(100% - 2rem);
    }
  }
}
